:root {
    --color-primary: #B9090B;
    --color-white: #FFF;
    --color-white-30-opacity: rgba(255, 255, 255, 0.30);
    --color-smokeWhite: #E5E5E5;
    --color-gray: #808080;
    --color-midGray: rgba(109, 109, 110, 0.70);
    --color-black: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--color-black);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    width: 100vw;
}

/* Componentes */

.button {
    padding: 15px 30px;
    border-radius: 1px;
}

/* header */
header {
    display: flex;
    padding: 25px 60px;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background: linear-gradient(rgb(20, 20, 20), rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0));
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 10;
}

#header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#logo {
    width: 111px;
    height: 29.998px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#nav-bar a {
    color: var(--color-smokeWhite);
    font-size: 15px;
    font-weight: 400;
}

#nav-bar a:hover {
    color: var(--color-white);
    cursor: pointer;
}

/* main */

#banner {
    width: 100%;
    height: 810px;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-content {
    padding: 200px 0 0 60px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 436px;
    height: 392px;
}

#banner-content p {
    font-size: 20px;
}

#banner-title {
    width: 408px;
    height: 115px; 
    font-size: 26px;
    font-weight: 400;
}

#buttons-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#buttons-banner a {
    display: flex;
    padding: 15px 30px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--color-white);
    color: var(--color-black);
    font-weight: 600;
}

#buttons-banner a:hover {
    background: var(--color-smokeWhite)
}

#buttons-banner a:nth-of-type(2) {
    background: var(--color-white-30-opacity);
    color: var(--color-white);
}

#buttons-banner a:nth-of-type(2):hover {
    background: var(--color-midGray);
}

.button img {
    height: 25px;
}

#lists {
    margin-top: -10rem;
    background: linear-gradient(rgba(20, 20, 20, 0.6), var(--color-black));
    box-shadow: 0 -30px 30px rgba(20, 20, 20, 0.6);
}

.block-list {
    position: relative;
    margin-top: 30px
}

.block-list h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 60px;
}

.list {
    padding: 15px 60px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 5px;
    transition: 250ms all;

}

.list img:hover {
    margin: 0 20px;
    transform: scale(1.1);
    z-index: 5;
}

::-webkit-scrollbar {
    display: none;
}

.block-list::after {
    content: "";
    width: 40px;
    height: 40px;
    background: url("../icones/ArrowLeft.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 70px;
}

.block-list::before {
    content: "";
    width: 20px;
    height: 40px;
    background: url("../icones/ArrowRight.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 40px;
}

/* footer */

footer {
    display: inline-flex;
    padding: 50px 60px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    color: var(--color-gray)
}

#social-medias {
    display: flex;
    align-items: center;
    gap: 20px;
}

#section-links-footer {
    display: flex;
    align-items: flex-start;
    gap: 15rem;
}

.links-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.links-footer a {
    color: var(--color-gray);
}

.links-footer a:hover {
    text-decoration: underline;
}

#footer-link {
    color: var(--color-gray);
    padding: 10px 15px;
    border: 1px solid var(--color-gray);
}

#footer-link:hover {
    color: var(--color-white);
    border-color: var(--color-smokeWhite)
}

footer span {
    font-size: 14px;
    font-weight: 300;
}